@mixin flex (
  $align: center,
  $justify: center,
  $direction: row,
  $gap: null,
  $wrap: nowrap,
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;

  @if $gap != null {
    gap: $gap;
  }
}

@mixin grid (
  $cols: null,
  $rows: null,
  $gap: null,
  $align: null,
  $justify: null
) {
  display: grid;

  @if $cols != null {
    grid-template-columns: $cols;
  }

  @if $rows != null {
    grid-template-rows: $rows;
  }

  @if $gap != null {
    gap: $gap;
  }

  @if $align != null {
    align-items: $align;
  }

  @if $justify != null {
    justify-items: $justify;
  }
}

%h96-72 {
  font-size: 96px;
  line-height: 72px;
}

%h64-56 {
  font-size: 64px;
  line-height: 56px;
}

%h49-40 {
  font-size: 49px;
  line-height: 40px;
}

%h29-40 {
  font-size: 29px;
  line-height: 40px;
}

%h25-32 {
  font-size: 25px;
  line-height: 32px;
}

%p24-24 {
  font-size: 24px;
  line-height: 24px;
}

%p18-32 {
  font-size: 18px;
  line-height: 32px;
}

%p18-24 {
  font-size: 18px;
  line-height: 24px;
}

%p16-24 {
  font-size: 16px;
  line-height: 24px;
}

%p16-19 {
  font-size: 16px;
  line-height: 19px;
}

%p14-18 {
  font-size: 14px;
  line-height: 18px;
}

%p14-24 {
  font-size: 14px;
  line-height: 24px;
}