@import '../../styles/variables.scss';
@import '../../globals.css';

.nav {
  @include flex($align: center, $justify: center);
  background: var(--black300);
  padding: 8px 0px;
  
  &_list {
    @include flex($align: center, $justify: space-between);
  }

  &_link {
    @include flex($align: center, $justify: center);
    gap: 8px;
  }

  &_text {
    color: var(--gray600);
  }

  &_line {
   display: block;
   width: 1px;
   height: 28px;
   margin: 0px 51px 0px 51px;
   background: #585858;
  }
}

