@import '../../globals.css';
@import '../../styles/variables.scss';

.container {
  @include flex($align: center, $justify: center);
  gap: 32px;
}

.btns {
  @include flex($align: center, $justify: center);
  gap: 32px;
}

.nav_list {
  @include flex($align: center, $justify: center);
  gap: 52px;

  &_link {
    @extend %p16-19;
    font-weight: 400;
    color: var(--black);
  }
}