@import '../../styles/variables.scss';
@import '../../globals.css';

.form {
  position: relative;
  width: 431px;
}

.search {
  position: relative;
  border-radius: 8px;
  background: #DFDFDF;
  opacity: 100%;
  box-shadow: 0px 0px 10px 1px rgba(210, 208, 208, 0.7);
  font-size: 14px;
  font-weight: 400;
  color: var(--black);

  &::placeholder {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    color: #656565;
  }
}

.searchIcon {
  position: absolute;
  left: 20;
  top: 21;
}

.inputLarge {
  display: inline-block;
  max-width: 431px;
  height: 56px;
  width: 100%;
  padding: 20px 20px 20px 45px;
}