:root {
  /* === Base Colors === */
  --white: #ffffff;
  --black: #000000;

  /* === Backgrounds === */
  --background-primary: #ffffff;
  --background-secondary: #f9f9f9;
  --background-light: #dfdfdf;
  --background-dark: #211c24;

  /* === Grayscale Palette === */
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #ededed;
  --gray-300: #f6f6f6;
  --gray-400: #eaeaea;
  --gray-500: #969696;
  --gray-600: #909090;
  --gray-650: #656565;
  --gray-700: #7a777c;
  --gray-800: #787878;
  --gray-900: #cfcfcf;

  /* === Black Shades === */
  --black-100: #353535;
  --black-200: #2e2e2e;
  --black-300: #2c2c2c;

  /* === Accent Colors === */
  --accent-dark-purple: #211c24;
}



html,
body {
  height: 100%;
  background-color: var(--whit);
  color: var(--black);
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.root-container {
  margin: 0 auto;
}