:root {
  --background: #ffffff;
  --black: #000000;
  --black200: #353535;
  --black300: #2E2E2E;
  --black400: #2C2C2C;
  --dark-purple: #211C24;
  --gray200: #F5F5F5;
  --gray300: #EDEDED;
  --gray400: #F6F6F6;
  --gray500: #EAEAEA;
  --gray600: #969696;
  --gray700: #909090;
  --gray800: #7A777C;
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.root-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}