@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}
