@import '../../globals.css';
@import '../../styles/variables.scss';

.container {
  @include flex($align: center, $justify: center, $direction: column);
  border-radius: 15px;
  background: var(--gray-200);
  max-width: 160px;
  width: 100%;
  height: 128px;
  gap: 8px;
}

.text {
  @extend %p16-24;
  font-weight: 400;
  color: var(--black);
}