@import '../../globals.css';
@import '../../styles/variables.scss';

.container {
  max-width: 1200px;
  padding: 80px 0px;
  margin: 0 auto;
}

.title {
  @extend %h25-32;
  font-weight: 400;
  text-align: left;
  margin-bottom: 32px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}