@import '../../globals.css';
@import '../../styles/variables.scss';

.container {
  max-width: 1200px;
  padding: 56px 0px;
  margin: 0 auto;
}

.tags {
  @include flex($align: center, $justify: flex-start);
  gap: 32px;
  margin-bottom: 32px;

  &_select {
    position: relative;
    @extend %p18-32;
    color: var(--black);
    
    &::after {
      content: "";
      position: absolute;
      border-radius: 50px;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: var(--black);
    }
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}