@import '../../globals.css';
@import '../../styles/variables.scss';

.form {
  position: relative;
  width: 431px;
}

.search {
  @extend %p14-18;
  position: relative;
  border-radius: 8px;
  background: var(--background-light);
  opacity: 100%;
  box-shadow: 0px 0px 10px 1px rgba(210, 208, 208, 0.7);
  font-weight: 400;
  color: var(--black);

  &::placeholder {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-650);
  }
}

.searchIcon {
  position: absolute;
  left: 20;
  top: 16;
}

.inputLarge {
  display: inline-block;
  max-width: 431px;
  height: 56px;
  width: 100%;
  padding: 20px 20px 20px 48px;
}