@import '../../globals.css';
@import '../../styles/variables.scss';

.container {
  background: url('../../assets/images/second-banner.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content {
  @include flex($align: center, $justify: center, $direction: column);
  padding: 160px 0px 90px 0px;

  &_title {
    @extend %h72-72;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 16px;
  }

  &_sale {
    font-weight: 500;
  }

  &_desc {
    @extend %p16-32;
    margin-bottom: 40px;
    color: var(--gray-800);
  }
}