@import '../../styles/variables.scss';
@import '../../globals.css';

.container {
  padding: 104px 0px;
  background: var(--black);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  @include flex($align: flex-start, $justify: space-between);
  margin-bottom: 24px;
}

.firstList {
  color: var(--background);

  &_item {
    @extend %p14-18;
    font-weight: 300;
    line-height: 170.5%;
    color: var(--gray1000);

    &_logo {
      margin-bottom: 27px;
    }
  }
}

.secondList {
  &_title {
    @extend %p16-16;
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--background);
  }
  
  &_item {
    @extend %p14-32;
    font-weight: 300;
    color: var(--gray1000);
  }
}

.groupIcons {
  @include flex($align: center, $justify: flex-start);
  gap: 36px;
}