@import '../../styles/variables.scss';

.container {
  @include flex(center, center);
  padding-top: 16px;
}

.logo {
  margin-right: 32px;
}

.flexBox {
  @include flex($align: center, $justify: center);
  margin-right: 32px;
}

.nav,
.btns {
  @include flex($align: center, $justify: center);
  gap: 32px;
}

.nav_list {
  @include flex($align: center, $justify: center);
  gap: 52px;

  &_item {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--gray600);
  }
}