@import '../../styles/variables.scss';

.container {
  @include flex(center, center);
  padding: 16px 0px 16px 0px;
}

.logo {
  margin-right: 32px;
}

.flexBox {
  @include flex($align: center, $justify: center);
  margin-right: 32px;
}

.nav,
.btns {
  @include flex($align: center, $justify: center);
  gap: 32px;
}

.nav_list {
  @include flex($align: center, $justify: center);
  gap: 52px;

  &_item {
    @extend %p16-19;
    font-weight: 400;
    color: var(--gray700);
  }
}