@import '../../styles/variables.scss';
@import '../../globals.css';

.container {
  background: linear-gradient(180deg, #211C24 0%, #211C24 100%);
  padding: 0px 160px;
}

.content {
  @include flex($align: center, $justify: space-between);
  gap: 24px;

  &_title {
    @extend %h25-32;
    font-weight: 600;
    color: var(--gray800);
  }

  &_smashTitle {
    @extend %h96-72;
    font-weight: 300;
    letter-spacing: -1%;
    color: var(--background);
  }

  &_pro {
    font-weight: 700;
  }

  &_desc {
    @extend %p18-24;
    color: var(--gray700);
  }
}

.leftBlock {
  @include flex($align: flex-start, $justify: center, $direction: column);
  gap: 32px;
}