@import '../../styles/variables.scss';
@import '../../globals.css';

.container {
  background: url('../../assets/images/background-banner2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content {
  @include flex($align: center, $justify: center, $direction: column);
  padding: 160px 0px 90px 0px;

  &_title {
    @extend %h72-72;
    font-weight: 300;
    color: var(--background);
    margin-bottom: 16px;
  }

  &_sale {
    font-weight: 500;
  }

  &_desc {
    @extend %p16-32;
    margin-bottom: 40px;
    color: var(--gray900);
  }
}