@import '../../styles/variables.scss';
@import '../../globals.css';

.button {
  @extend %p16-24;
  border: 1px solid var(--background);
  background: var(--dark-purple);
  height: 56px;
  cursor: pointer;
  color: var(--background);
}