@import '../../styles/variables.scss';
@import '../../globals.css';

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 0px;
}

.top {
  @include flex($align: center, $justify: space-between);
  margin-bottom: 32px;

  &_title {
    @extend %h25-32;
    font-weight: 400;
    color: var(--black);
  }

  &_groupButtons {
    @include flex($align: center, $justify: center);
    gap: 16px;
  }
}

.categories {
  @include flex($align: center, $justify: space-between);
}

.category {
  @include flex($align: center, $justify: center, $direction: column);
  border-radius: 15px;
  background: var(--gray300);
  max-width: 160px;
  width: 100%;
  height: 128px;
  gap: 8px;
}